#head {
  display: flex;
  justify-content: space-around;
  background: gray;
  height: 40px;
  font-size: 30px;
  font-family: 'Oldenburg', cursive;
}

.nav {
  display: flex;
  flex-direction: row;
}

.links {
  display: flex;
flex-direction: row;
justify-content: space-evenly;
}