#head {
  display: flex;
  justify-content: space-around;
  background: gray;
  height: 60px;
  font-size: 30px;
  font-family: 'Oldenburg', cursive;
}

.nav {
  display: flex;
  flex-direction: row;
}

#link {
  display: flex;
flex-direction: row;
justify-content: space-evenly;
margin-top: 7px;
}