.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  box-shadow: 0px 0px 3px 1px #CECECE;
  transition: 250ms all;
  padding: 20px;
  margin-bottom: 60px;
}

.book:hover {
  transform: scale(1.02);
  opacity: .9;
}

.book-image {
  width: 300px;
}

.book-title {
  font-size: 24px;
  padding: 10px;
}

@media (max-width: 500px) {
  .book {
      width: 100%;
      margin-bottom: 20px;
  }
  .book-image {
      width: 180px;
      margin: 15px;
      padding: 10px;
  }
}